.login-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  width: 100%;
}

.button.not-clicked {
  width: 100%;
  transition: all .2s ease-in-out;
  -webkit-tranition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
}

.button.button-clicked {
  width: 0 !important;
  border-radius: 50%;
  padding: 3px;
  margin: 0;
  min-width: fit-content;
  transition: all .2s ease-in-out;
}
